    body {
        background-color: black;
        color: #d9d9d9;
        font-family: "Tw Cen MT","Century Gothic","Noto Sans JP";
        margin: 0%;
    }
    header {
        background-color: #d9d9d9;
        color: #0f0a05;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    nav a {
        text-decoration: none;
        color: black;
        font-size: large;
    }
    main h1 {
        padding-left: 4rem;
        padding-top: 1rem;
    }
    main ul {
        padding-top: 0rem;
        padding-left: 4rem;
        font-size: large;
    }
    main a {
        text-decoration: none;
        color: #d9d9d9;
    }
    main li {
        padding: 0.5rem;
    }

    article {
        margin-top: 3rem;
        padding-left: 4rem;
        padding-right: 4rem;
        font-family:  "Tw Cen MT","Century Gothic","Noto Sans JP";
    }
    article h1 {
        font-size: xx-large;
    }

    footer {
        background-color: #0f0a05;
        text-align: center;
        color: gray;
        padding: 1rem;
        margin-top: 3rem;
    }